.main {
    padding: 60px 0;
    min-height: calc(100vh - 200px);
    display: flex;
    align-items: center;
}

/* Карточка входа чуть уже, чем регистрации */
.auth-container {
    max-width: 450px;
}